.navbarCA {
  background-color: #557CF2 !important;
  padding: 12px 20px !important;
  border-radius: 0;
}

.navbarContent {
  display: flex;
}

.brandBox {
  display: flex;
}

.brandBox h2 {
  font-weight: bold;
  margin-left: 5px !important;
  color: #FFF;
  font-size: 24px;
}

.actionsMenuBox {
  display: flex;
}

.badgeOrder {
  transform: translate(-5px, -5px) !important;
  font-size: 10px;
  font-weight: bold;
  padding: 4px !important;
}

.cartBox {
  background-color: #22C38E;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  margin-right: 10px !important;
  cursor: pointer;
}

.drawerMenuBody {
  display: flex;
  justify-content: center;
  background-color: #31343B;
  border-left: 1pt solid #707070 !important;
}

.drawerMenuBodyNav {
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
  padding-right: 0 !important;
}

.drawerMenuBodyNav > a {
  color: #A6BDBB !important;
  font-size: 17px;
  font-weight: bold;
  width: 70%;
  margin-bottom: 22pt !important;
  margin-left: 32pt !important;
  outline: none;
}

.drawerMenuBodyNav > a:first-child { 
  margin-right: 32pt !important;
  margin-top: 37pt !important;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  width: auto;
}

.drawerMenuBodyNav > a:first-child button{  
  background-color: #5CB85C;
  color: #FFFFFF;
  border-radius: 19pt;
  padding: 8pt 50pt !important;
}